.container{
  width: 762px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: var(--secondary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 10px;
}

.nota{

  width: 200px;

  &__titulo{
    color: var(--textPrimary);
    position: absolute;
    top: 5px;
    left: 5px;
  }
  &__nota{
    background-color: var(--secondary);
    color: var(--detail);
    position: absolute;
    top: 100px;
    left: 5px;
  }
  &__data{
    font-size: 8px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
